.service-card {
    background: linear-gradient(144.39deg, #FFFFFF -285.02%, #6D6D6D -84.93%, #11101D 85.15%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.service-info {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}